.employee {
 justify-content: center;
}

.employee .box {
    width: 90%;
    margin-left: 0;
    position: relative;
}
.employee .box .form {
    height: 100%;
}
.employee .box .box_inp {
    width: 65%;
    height: 100%;
    display: flex
;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.employee .box  label {
    width: 25%;
}
.employee .box .lister {
    width: 65%;
}
.employee .box .lister input {
    width: 100%;
}
.employee .box input {
    width: 65%;
}
/* .employee .box .lister {
    position: relative;
    width: 60%;
    margin-bottom: 10%;
}
.employee .box .lister input {
    border-radius: 8px;
    border: 2px solid var(--back-button-color);
    background-color: var(--background-color);
    padding: 2px 5px;
    outline: none;
    position: relative;
    z-index: 3;
    margin-left: 0%;
    width: 100%;
} */


/* .employee .lister .autocomplete {
    position: absolute;
    z-index: 2;
    max-height: 100px;
    overflow-y: auto;
    width: 95%;
    border-left: 1.8px solid var(--back-button-color);
    margin-top: -8px;
    padding-top: 2px;
    margin-right: 4%;
    border-bottom: 2px solid #00BCD4;
}
.employee .lister .autocomplete .employee-item {
    padding: 1px 4px 1px 0;
    cursor: pointer;
    font-size: 10px;
    border: 1.8px solid var(--back-button-color);
    text-align: start;
    color: var(--text-color);
    font-weight: 600;
    background-color: white;
    border-top: none;
}
.employee .box textarea {
    width: 60%;
    border-radius: 8px;
    border: 2px solid var(--back-button-color);
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    padding: 4px;
} */

.employee .box .poTyp {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    left: 0;
    align-items: center;
    border-right: 2px solid var(--back-button-color);
}
.employee .box .poTyp .lpchild {
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20%;
    padding: 10px 0;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--back-button-color);
    border-top-left-radius: 8px;
    text-align: center;
    border-bottom-width: 3px;
}
.employee .poTyp .radio-group {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.employee .poTyp .radio-group div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 35%;
    border-radius: 8px;
       font-weight: 600;
    cursor: pointer;
    font-size: 14px;

}
.employee .poTyp .radio-group .deposit {
    color: #009688;
    background-color: var(--background-color);
    box-shadow: 0 0 4px 1px #4CAF50;
}
.employee .poTyp .radio-group .withdraw {
    color: #F44336;
    background-color: var(--background-color);
    box-shadow: 0 0 4px 1px #E91E63;
}
 .employee .poTyp .radio-group .selected_green { 
       background-color: #009688;
    color: white;
    border: 2px solid white;
}
 .employee .poTyp .radio-group .selected_red { 
       background-color: #E91E63;
    color: white;
    border: 2px solid white;
}
.employee .box .poTyp button {
    padding: 6px;
    font-size: 14px;
    border: 1.4px solid var(--border-color);
    border-radius: 6px;
    background-color: var(--back-button-color);
    color: white;
    margin: 0px 2% 0 0;
    font-weight: 600;
    width: 30%;
    margin: 25% auto 0;
    cursor: pointer;
    box-shadow: 0 0 2px 1px var(--bordr-buttom-color);
}

